<%= form_with model: recipe do |form| %>
  <% if recipe.errors.any? %>
    <div>
      <strong><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</strong>
      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div>
      <%= form.text_area :content %>
    </div>

    <div>
      <div>
        <%= form.label :category %>
        <%= form.select :category, recipe_category_options, { prompt: 'Select a Category' }, { required: true } %>
      </div>

      <div>
        <%= form.label :cuisine %>
        <%= form.select :cuisine, recipe_cuisine_options, { include_blank: 'None' } %>
      </div>

      <div>
        <%= form.label :yield %>
        <%= form.text_field :yield %>
      </div>

      <div>
        <%= form.label :prep_time, 'Prep Time' %>
        <%= form.text_field :prep_time %>
      </div>

      <div>
        <%= form.label :cook_time, 'Cook Time' %>
        <%= form.text_field :cook_time %>
      </div>

      <div>
        <%= form.label :source %>
        <%= form.text_field :source %>
      </div>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>