<article>
  <h1><%= @parsed_recipe.title %></h1>
  <p>by <%= @recipe.user.name %></p>
  <% if @recipe.source.present? %>
    <p>Source: <%= @recipe.source %></p>
  <% end %>

  <%= link_to "PDF", pdf_recipe_path(@recipe) %>
  <% if authenticated? and Current.user == @recipe.user %>
    <%= link_to "Edit", edit_recipe_path(@recipe) %>
    <%= button_to "Delete", @recipe, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
  <% end %>

  <dl>
    <% if @recipe.category.present? %>
      <dt>Category</dt>
      <dd><%= @recipe.category %></dd>
    <% end %>
    <% if @recipe.cuisine.present? %>
      <dt>Cuisine</dt>
      <dd><%= @recipe.cuisine %></dd>
    <% end %>
    <% if @recipe.yield.present? %>
      <dt>Yield</dt>
      <dd><%= @recipe.yield %></dd>
    <% end %>
    <% if @recipe.prep_time.present? %>
      <dt>Prep Time</dt>
      <dd><%= @recipe.formatted_prep_time %></dd>
    <% end %>
    <% if @recipe.cook_time.present? %>
      <dt>Cook Time</dt>
      <dd><%= @recipe.formatted_cook_time %></dd>
    <% end %>
  </dl>

  <% @parsed_recipe.components.each do |component| %>
    <section>
      <% if component.name %>
        <h2><%= component.name %></h2>
      <% end %>
      <% if component.steps.any? %>
        <ol>
          <% component.steps.each do |step| %>
            <li>
              <p><%= fancy(step.text) %></p>
              <% if step.ingredients.any? %>
                <ul>
                  <% step.ingredients.each do |ingredient| %>
                    <li><%= fancy(ingredient) %></li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ol>
      <% end %>
    </section>
  <% end %>
</article>